// Body
$body-bg: #111111;

// Typography
$font-family-primary: "Poppins";
$font-family-secondary: "Ubuntu Mono", monospace;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$font-color-primary: #ffffff;
$font-color-secondary: #f3f3f3;
$font-color-tertiary: #f0f0f0;
$primary-color: #0d1541;
$secondary-color: #57219e;
$fill-color-primary: #2c8cb3;
$fill-color-secondary: #24ff66;
