// Body
$body-bg: #111111;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$header-color: #ffffff;
$font-color: #ffffff;
$primary-color: #0d1541;
$secondary-color: #57219e;
$fill-color: #2c8cb3;
