// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap");

// Variables
@import "variables";

//Bootstrap
// required bootstrap components
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

//additional bootstrap components
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/utilities/api";

//other imports
@import "~locomotive-scroll/dist/locomotive-scroll";

//imports
@import "components/navbar";
@import "components/footer";
@import "utilities";
@import "buttons";
@import "animations";

//main rules
*,
*::before,
*::after {
    box-sizing: border-box;
}

::selection {
    background-color: $primary-color-dark;
    color: $font-color-secondary;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;

    color: $font-color-primary;
    font-family: $font-family-primary;
    overflow: hidden;
    // background-color: transparent;
    // background: none;
    background-color: $body-bg !important;
}

h1 {
    font-weight: 600;
    font-size: clamp(1.75rem, 4.15vw, 4.5rem);
}

h2 {
    font-weight: 500;
    font-size: clamp(1rem, 1.8vw, 3rem);
    font-family: $font-family-secondary;
    color: $font-color-tertiary;
}

h3 {
    font-size: clamp(1.3rem, 2.5vw, 2.25rem);
    font-weight: 600;

    line-height: 1.25em;
}

h4 {
    font-size: clamp(0.7rem, 1.8vw, 0.85rem);
    font-weight: 500;

    color: $font-color-fourth;
}

p {
    font-size: clamp(0.7rem, 1.75vw, 1rem);
}

hr {
    display: block;
    border: 1px solid $font-color-primary;
    overflow: hidden;
    width: clamp(3em, 5vw, 7em);
    float: left;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: $font-color-primary;
}

.arrow-down-icon {
    margin-top: clamp(10px, 5vh, 100px);
    fill: $primary-color;

    height: clamp(60px, 7vw, 150px) !important;
    width: clamp(60px, 7vw, 150px) !important;
}

#fp-nav {
    span {
        background-color: #f1f1f1 !important;
        color: #f1f1f1 !important;
    }
}

#web_gl {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    // z-index: 50;
    // outline: none;
    // mix-blend-mode: exclusion;
    // pointer-events: none;
}

#nav-floater {
    position: fixed;
    top: 50%;
    left: 50%;
}

#clients {
    display: none;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes loader-inner {
    0% {
        height: 0%;
    }
    25% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}

.cursor {
    position: absolute;
    background-color: $primary-color;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: scale(1);
    transform: translate(-4px, -4px);

    &.active {
        opacity: 0.5;
        transform: scale(0);
    }

    &.hovered {
        opacity: 0.08;
    }
}

.cursor-follower {
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 1px rgba(255, 255, 255, 0.4) solid;
    z-index: 1;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: translate(-5px, -6px);

    &.active {
        background-color: rgba(255, 255, 255, 0.35);
        border: none;
        opacity: 1;
        transform: scale(1.85);
    }

    &.hovered {
        background-color: rgba(255, 255, 255, 0.35);
        border: none;
        opacity: 0.08;
    }
}

@media (max-width: $lg-screen-size) {
    .cursor {
        display: none;
    }
    .cursor-follower {
        display: none;
    }
}
