// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

// Variables
@import "variables";

//Bootstrap
// required bootstrap components
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

//additional bootstrap components
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/utilities/api";

//imports
@import "navbar";
@import "utilities";
@import "buttons";
@import "modal";
@import "typed";
@import "animations";

//main rules
*,
*::before,
*::after {
    box-sizing: border-box;
}

::selection {
    background-color: $font-color-primary;
    color: $body-bg;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: $font-color-primary;
    font-family: $font-family-primary;
    overflow-x: hidden;
    background-color: $body-bg;
}

h1 {
    color: #e2e2e2;
    font-weight: 500;
    font-size: clamp(1.1rem, 1.7vw, 1.6rem);
}

p {
    font-size: clamp(0.7rem, 1.75vw, 1rem);
}

hr {
    display: block;
    border: 1px solid $font-color-primary;
    overflow: hidden;
    width: clamp(3em, 5vw, 7em);
    float: left;
}

img {
    width: 100%;
}

#web_gl {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    // z-index: 1;
    // mix-blend-mode: exclusion;
}

//courtain
.courtain {
    position: relative;
}

.top-side {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 50vh;

    background-color: $body-bg;

    z-index: 999;
}

.bottom-side {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100vw;
    height: 50vh;

    background-color: $body-bg;

    z-index: 999;
}

//landingpage
#landing-page-section {
    height: 100vh;
    display: grid;
    place-items: center;
    background-image: url(/images/website_background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-page-content {
    position: relative;
}

.landing-page-content:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 115%;
    margin-top: -25px;
    margin-left: clamp(30px, 5vw, 60px);
    border-left: 1px solid rgb(199, 199, 199);
    transform: scaleY(1);
}

.landing-page_content_text {
    font-family: $font-family-secondary;
    color: $fill-color-secondary;
}

.landing-page_content_text_second {
    font-size: clamp(1.7rem, 2.75vw, 3rem);
    font-weight: 600;
}

//clippaths
h1,
.landing-page_content_text_second {
    opacity: 0;
    width: clamp(15em, 30vw, 50em);
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

.btn-outline-primary {
    opacity: 0;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

//wecreate
#we-create-section {
    margin: clamp(3em, 4vw, 10em) auto;
}

.mb-card-we-create {
    margin-bottom: clamp(5em, 40vh, 25em);
}

//portfolio
#portfolio-section {
    display: grid;
    place-items: center;
}

.portfolio-img {
    overflow: hidden;
    border-radius: 1em;
    object-fit: cover;
    filter: grayscale(100%);
    transition: 0.5s;
    transition: all 0.75s;
}

.portfolio-img:hover {
    cursor: pointer;
    filter: none;
    transform: translateZ(10px);
    transition: all 0.75s;
}

.slider {
    // margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track {
    display: flex;
    width: calc(400px * 10);
    animation: scroll 30s linear infinite;
}

.slide-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-400px * 5));
    }
}

.slide {
    // height: 200px;
    // width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, #111111 0%, #11111100 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 30%;
    z-index: 1;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

//footer contact

#contact-section {
    position: relative;
}

.contact-content {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -70%);
    z-index: 5;
}

.footer-svg {
    min-height: 75vh !important;
    height: 100%;
    width: 100%;
}

//media queries
@media (max-width: 650px) {
    h1 {
        font-size: clamp(0.9rem, 3vw, 1.6rem);
    }

    .landing-page_content_text_second {
        // width: 11em;
        // line-height: clamp(30px, 2vw, 55px);
        font-size: clamp(1.25rem, 5vw, 1.75rem);
    }
}
