// Fonts
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap");

// Utilities
@import "utilities/variables";
@import "utilities/buttons";
@import "utilities/utilities";
@import "utilities/animations";

//Bootstrap
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/utilities/api";

//other imports
@import "~locomotive-scroll/dist/locomotive-scroll";

//imports
@import "components/navbar";
@import "components/tooltip";
@import "components/cursor";
@import "components/footer";

//main rules
*,
*::before,
*::after {
    box-sizing: border-box;
}

::selection {
    background-color: $primary-color-dark;
    color: $font-color-secondary;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;

    color: $font-color-primary;
    font-family: $font-family-primary;
    overflow-x: hidden;
    background-color: $body-bg !important;
    // background-image: url("/images/bg_img.png") !important;
    // background-position: center !important;
    // background-repeat: no-repeat !important;
    // background-size: cover !important;
}

h1 {
    font-family: $font-family-header;
    font-size: clamp(1.75rem, 11.5vw, 12rem);
    line-height: clamp(1.75rem, 10vw, 10rem);
    margin: 0;

    font-weight: 400;
}

h2 {
    font-size: clamp(1rem, 1.8vw, 3rem);
    font-family: $font-family-secondary;
    color: $font-color-tertiary;
}

h3 {
    font-size: clamp(1.8rem, 3.25vw, 5rem);

    line-height: 1.25em;
}

h4 {
    font-size: clamp(1rem, 1vw, 2rem);

    color: $font-color-fourth;

    font-weight: 400;
}

p {
    font-weight: 300;
    font-size: clamp(0.75rem, 1.75vw, 1rem);
}

hr {
    display: block;
    border: 1px solid $font-color-primary;
    overflow: hidden;
    width: clamp(3em, 5vw, 7em);
    float: left;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: $font-color-primary;
}

.arrow-down-icon {
    margin-top: clamp(10px, 5vh, 100px);
    fill: $primary-color;

    height: clamp(60px, 7vw, 150px) !important;
    width: clamp(60px, 7vw, 150px) !important;
}

#fp-nav {
    span {
        background-color: #f1f1f1 !important;
        color: #f1f1f1 !important;
    }
}

#web_gl {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    // z-index: 50;

    opacity: 0;
    display: none;
}

#background_image {
    position: fixed;
    z-index: -100;
    pointer-events: none !important;
    opacity: 0;
    display: none;
    // width: 100vw;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

#nav-floater {
    position: fixed;
    top: 50%;
    left: 50%;
}

#clients {
    display: none;
}

#landing-page {
    height: 95vh;

    display: flex;
    align-items: center;
}

[data-scroll-section] {
    perspective: 1px;
}
