// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

// Variables
@import "variables";

//Bootstrap
// required bootstrap components
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

//additional bootstrap components
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/utilities/api";

//other imports
@import "~locomotive-scroll/dist/locomotive-scroll";
// @import "~fullpage.js/dist/fullpage.css";

//imports
@import "components/navbar";
@import "components/footer";
@import "utilities";
@import "buttons";
@import "animations";

//main rules
*,
*::before,
*::after {
    box-sizing: border-box;
}

::selection {
    background-color: $primary-color-dark;
    color: $font-color-secondary;
}

// * {
//     scrollbar-width: thin;
//     scrollbar-color: $primary-color transparent;
// }

// *::-webkit-scrollbar {
//     width: 5px;
// }

// *::-webkit-scrollbar-track {
//     background: transparent;
// }

// *::-webkit-scrollbar-thumb {
//     background-color: $primary-color;
//     border-radius: 5px;
// }

html {
    font-size: 16px;
    // height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: $font-color-primary;
    font-family: $font-family-primary;
    // background-color: transparent;
    // background: none;
    background-color: $body-bg;
    overflow-x: hidden;
    overflow-y: auto;
    // height: 100%;
}

h1 {
    font-weight: 600;
    font-size: clamp(1.75rem, 6vw, 4.5rem);
}

h2 {
    font-weight: 500;
    font-size: clamp(1rem, 3vw, 3rem);
    color: $font-color-tertiary;
}

h3 {
    font-size: clamp(1.3rem, 2.5vw, 2.25rem);
    font-weight: 600;

    line-height: 1.25em;
}

h4 {
    font-size: clamp(0.7rem, 1.8vw, 0.85rem);
    font-weight: 500;

    color: $font-color-fourth;
}

p {
    font-size: clamp(0.7rem, 1.75vw, 1rem);
}

hr {
    display: block;
    border: 1px solid $font-color-primary;
    overflow: hidden;
    width: clamp(3em, 5vw, 7em);
    float: left;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: $font-color-primary;
}

.arrow-down-icon {
    fill: $primary-color;
}

#web_gl {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    // z-index: 100;
    // outline: none;
    // mix-blend-mode: exclusion;
}

//!landing page
#landing-page {
    height: 92.5vh;
    display: grid;

    place-items: center;
}

.landing-page-content {
    margin-bottom: clamp(5rem, 20vh, 9rem);
}
