//landingpage
#landing-page-section {
    height: 100vh;
    display: grid;
    place-items: center;
    // background-image: url(/images/website_background_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-page-content {
    position: relative;
}

.landing-page-content:before {
    position: absolute;
    top: 0;
    left: 0;

    content: "";

    height: 115%;

    margin-top: -25px;
    margin-left: clamp(-50px, -2vw, 0px);

    border-left: 1px solid rgb(199, 199, 199);
    transform: scaleY(1);
}

.landing-page_content_text {
    font-family: $font-family-secondary;
    color: $fill-color-secondary;
}

.landing-page_content_text_second {
    font-size: clamp(1.7rem, 2.75vw, 3rem);
    font-weight: 600;
}

//clippaths
h1,
.landing-page_content_text_second {
    opacity: 0;
    width: clamp(15em, 30vw, 50em);
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

.btn-outline-primary {
    opacity: 0;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

//wecreate
#we-create-section {
    margin: clamp(3em, 4vw, 10em) auto;
}

.mb-card-we-create {
    margin-bottom: clamp(5em, 40vh, 25em);
}

//portfolio
#portfolio-section {
    display: grid;
    place-items: center;
}

.portfolio-img {
    overflow: hidden;
    border-radius: 1em;
    object-fit: cover;
    filter: grayscale(100%);
    transition: 0.5s;
    transition: all 0.75s;
}

.portfolio-img:hover {
    cursor: pointer;
    filter: none;
    transform: translateZ(10px);
    transition: all 0.75s;
}

.slider {
    // margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track {
    display: flex;
    width: calc(400px * 10);
    animation: scroll 30s linear infinite;
}

.slide-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-400px * 5));
    }
}

.slide {
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, #111111 0%, #11111100 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 1;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: -1px;
    top: 0;
    transform: rotateZ(180deg);
}

//footer contact

#contact-section {
    position: relative;
}

.contact-content {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -70%);
    z-index: 5;
}

.footer-svg {
    min-height: 75vh !important;
    height: 100%;
    width: 100%;
}

//media queries
@media (max-width: 650px) {
    h1 {
        font-size: clamp(0.9rem, 3vw, 1.6rem);
    }

    .landing-page_content_text_second {
        // width: 11em;
        // line-height: clamp(30px, 2vw, 55px);
        font-size: clamp(1.25rem, 5vw, 1.75rem);
    }
}

//buttons
.btn-primary {
    background-color: $fill-color-secondary;
    color: $body-bg;
    transition: 0.5s;
}

.btn-primary:hover {
    background-color: $fill-color-secondary-darker;
    transform: scale(0.95);
    transition: 0.5s;
}

.btn-primary:focus {
    background-color: $fill-color-secondary-lighter;
    transform: scale(1.1);
    transform: 0.25s;
}

.btn-secondary {
    background-color: $fill-color-primary;
    color: $font-color-primary;
}

.btn-outline-primary {
    background-color: transparent;
    border: 2px solid $fill-color-secondary;
    color: $fill-color-secondary;
    transition: 0.5s;
}

.btn-outline-primary:hover {
    background-color: $fill-color-secondary;
    color: $body-bg-color-lighter;
    font-weight: bold;
    transform: scale(1.05);
    transition: 0.5s;
}

.btn-outline-primary:focus {
    background-color: $fill-color-secondary-darker;
    transform: scale(0.95);
    transform: 0.25s;
}

.btn-outline-secondary {
    background-color: transparent;
    border: 2px solid $fill-color-primary;
    color: $fill-color-primary;
    transition: 0.5s;
}

.btn-outline-secondary:hover {
    background-color: $fill-color-primary;
    color: $font-color-primary;
    transition: 0.5s;
}
