.btn {
    outline: none;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    font-family: $font-family-primary;
    font-size: clamp(0.9rem, 2vw, 1rem);
    border-radius: 5em;
    padding: 1.15em 4em;
}

.btn-primary {
    border: 0.5px solid rgba(216, 216, 216, 0.5);
    background: rgba(255, 255, 255, 0.05);

    color: $font-color-primary;

    transition: 0.5s background-color;
}

.btn-primary:hover {
    background: $font-color-secondary;

    color: $body-bg;

    .arrow-right-icon {
        fill: $body-bg !important;
        transition: 0.25s all;
    }
}

.btn-submit {
    width: 40%;
    border: none;
    background: $primary-color;

    transition: 0.5s all;
}

.btn-submit:hover {
    background: $primary-color-dark;

    transform: scale(0.9);
}

.button-trail form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: $primary-color;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.button-trail a:hover {
    background: $primary-color;
    color: $font-color-primary !important;
    border-radius: 50px;
    box-shadow: 0 0 5px $primary-color, 0 0 12.5px $primary-color,
        0 0 25px $primary-color, 0 0 50px $primary-color;
    border: none !important;
}

.button-trail a span {
    position: absolute;
    display: block;
}

.button-trail a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, $primary-color);
    animation: btn-anim1 1s linear infinite;
    animation-delay: 0s;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

.button-trail a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, $primary-color);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

.button-trail a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, $primary-color);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

.button-trail a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, $primary-color);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}

@media (max-width: $md-screen-size) {
    .btn-primary {
        width: 100%;
        padding: 1em 3em;
    }

    .btn-submit {
        width: 100%;
    }
}
