#active:checked ~ .wrapper {
    /*left: 0;*/
    right: 0;
}
.menu-btn {
    position: fixed;
    right: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    transition: all 0.3s ease-in-out;
    z-index: 99;
}
.menu-btn span,
.menu-btn:before,
.menu-btn:after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 0%;
    width: 70%;
    border-bottom: 2px solid rgb(255, 255, 255);
    transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-btn:before {
    transform: translateY(-8px);
}
.menu-btn:after {
    transform: translateY(8px);
}

.close {
    z-index: 99;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: background 0.6s;
}

/* closing animation */
#active:checked + .menu-btn span {
    transform: scaleX(0);
}
#active:checked + .menu-btn:before {
    transform: rotate(45deg);
    border-color: #fff;
}
#active:checked + .menu-btn:after {
    transform: rotate(-45deg);
    border-color: #fff;
}

.wrapper {
    z-index: 98;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #1c1a8a, #0a546b);
    transition: all 0.5s ease-in-out;
}

.wrapper ul {
    position: absolute;
    top: 70%;
    left: 50%;
    height: 90%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}
.wrapper ul li {
    height: 10%;
    margin: 15px 0;
}
.wrapper ul li a {
    text-decoration: none;
    font-size: $font-size-base * 2;
    font-weight: 500;
    color: $font-color-primary;
    transition: 0.5s;
}

.wrapper ul li a:hover {
    color: $fill-color-secondary;
    transition: 0.5s;
}

input[type="checkbox"] {
    display: none;
}

#active:checked ~ .wrapper ul li a {
    opacity: 1;
}

.img-nav {
    position: fixed;
    top: 15px;
    left: 30px;
    width: clamp(3em, 5vw, 5em);
}
