@import "utilities/variables";
@import "components/typed";

//!offer
#offer {
    img {
        width: clamp(300px, 30vw, 1080px);
        height: auto;
    }

    .offer-wrapper {
        position: relative;
    }

    .info-header {
        position: absolute;
        top: 91%;

        margin-left: clamp(10px, 2vw, 25px);
    }

    .info {
        margin-top: 50px;
        margin-left: clamp(10px, 2vw, 25px);
    }

    p {
        font-size: clamp(0.8rem, 1.05vw, 2.75rem);
    }

    li {
        font-size: clamp(0.8rem, 1vw, 2.75rem);
        margin: 0.4em 0 0.4em -1em;
    }
    a {
        font-size: clamp(1rem, 1.5vw, 3rem);
    }
}

#works {
    .navigation-wrapper {
        ul {
            margin: 0;
            list-style: none;
            position: relative;

            .li-separate {
                height: 75px;
            }
        }

        a {
            font-family: $font-family-tertiary;
            font-size: clamp(1.5rem, 7vw, 3.5rem);
            line-height: clamp(1.5rem, 7vw, 3.5rem);
            font-weight: 300;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.3);

            &:hover {
                span {
                    mix-blend-mode: difference;
                }

                span:before {
                    width: 100%;
                }
            }
        }

        span {
            position: relative;
            display: block;

            pointer-events: none;
        }
    }

    .navigation-item {
        display: block;
        user-select: none;
        height: fit-content;
        width: fit-content;

        &:hover {
            mix-blend-mode: difference;
        }
    }

    .navigation-item span:before {
        width: 0;
        color: $font-color-primary;
        overflow: hidden;
        position: absolute;
        content: attr(data-text);
        transition: all 0.5s cubic-bezier(0.84, 0, 0.08, 0.99);
    }

    .navigation-item span:hover:before {
        width: 100%;
    }

    .project-preview-wrapper {
        width: 100%;
        height: 100vh;
        position: fixed;
        display: flex;
        justify-content: center;
    }
}

.project-preview {
    position: absolute;
    width: clamp(400px, 50vh, 650px);
    height: clamp(300px, 25vh, 450px);
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
    background: no-repeat 50% 50%;
    background-size: cover;
    opacity: 0;
    transition: opacity 0.6s;
    pointer-events: none;
    mix-blend-mode: difference;
}

@media (max-width: $md-screen-size) {
    //!offer
    #offer {
        .offer-wrapper {
            img {
                width: clamp(150px, 100%, 1080px) !important;
            }
        }
        h3 {
            font-size: clamp(1.6rem, 8vw, 4rem);
        }
    }
}
