@import "utilities/variables";

#landing-page {
    padding-top: clamp(90px, 25vw, 600px);
    margin-bottom: clamp(50px, 20vw, 600px);
    .container {
        position: relative;
    }

    h1 {
        position: absolute;
        top: -5%;

        z-index: 2;
    }
    .image-wrapper {
        width: clamp(130px, 100%, 100%);
        height: auto;

        aspect-ratio: 16/9;

        transition: filter 0.25s ease 0.25s;

        overflow: hidden;

        &:hover {
            filter: brightness(110%) saturate(110%);
        }

        img {
            width: 100%;
            height: 100%;

            object-fit: cover;

            transition: transform 0.5s ease 0s;
        }
    }
}

#info {
    h4 {
        font-size: clamp(0.8rem, 1.6vw, 2rem);
    }
    span.website {
        font-size: clamp(1rem, 3vw, 1.5rem);
    }
}

#images {
    .portfolio_image_wrapper {
        margin-bottom: clamp(50px, 6vw, 200px);

        width: clamp(130px, 100%, 100%);
        height: auto;

        // aspect-ratio: 16/9;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;

            object-fit: cover;

            transition: transform 0.5s ease 0s;
        }
    }
}
