@import "utilities/variables";

body {
    // overflow-y: hidden !important;
}

//!aboutus
#aboutUs {
    p {
        font-size: clamp(0.8rem, 1.2vw, 2.5rem);
    }
}

//!portfolio
#portfolio {
    a {
        font-size: clamp(0.8rem, 2vw, 3rem);
    }
    .slide-track {
        width: 100%;

        overflow: hidden;
        white-space: nowrap;
        background: transparent;

        cursor: grab;
        a {
            color: rgba(0, 0, 0, 0) !important;
        }
    }

    .portfolio-container {
        width: 100%;
    }

    .main-track {
        margin-left: 80px;
        color: $font-color-secondary;
        background: transparent;
        padding: 0;
        overflow: hidden;
    }
}

.portfolio-item {
    display: inline-block;

    width: clamp(550px, 37.5vw, 1300px);
    height: auto;

    aspect-ratio: 10/7;

    margin: 0.5em 8em 0.5em 0em;

    transition: filter 0.25s ease 0.25s;

    overflow: hidden;

    &:hover {
        filter: brightness(110%) saturate(110%);
        .portfolio_image-item {
            transform: scale(1.175);
        }
    }

    .portfolio_image-item {
        width: 100%;
        height: 100%;

        object-fit: cover;

        transition: transform 0.5s ease 0s;
    }
}

.track-item {
    position: relative;

    width: clamp(550px, 37.5vw, 1300px);
    height: auto;
    .info-wrapper {
        position: absolute;
        top: 87%;
        left: 5%;

        z-index: 2;

        width: 80%;

        // overflow: hidden;
        .info {
            white-space: normal !important;
            position: relative;
            h3 {
                font-size: clamp(1.8rem, 4.5vw, 6.5rem);
            }
            p {
                font-size: clamp(0.8rem, 1.3vw, 4.25rem);
            }
            span {
                font-size: clamp(0.8rem, 1.2vw, 3rem);
            }
        }
    }

    // .portfolio_image-item {
    //     pointer-events: none;
    // }
}

//! Clients
#clients {
    display: block !important;

    h4 {
        font-size: clamp(0.75rem, 3vw, 0.9rem);
    }

    .client-logo {
        position: relative;
        display: inline-block;

        width: clamp(150px, 12vw, 200px);

        padding: 10px;
        margin: clamp(10px, 1vh, 25px) clamp(10px, 2.5vw, 50px);

        text-align: center;
        img {
            vertical-align: middle;
            aspect-ratio: attr(width) / attr(height);
        }
    }
}

@media (max-width: $xxl-screen-size) {
    // .portfolio-item {
    //     min-height: 250px;
    //     max-height: 500px;
    //     height: 40vh;

    //     min-width: 400px;
    //     max-width: 500px;
    //     width: 40vw;

    //     margin: 0.5em 6em 0.5em 0em;
    // }
}

@media (max-width: $xl-screen-size) {
    // .portfolio-item {
    //     min-height: 250px;
    //     max-height: 400px;
    //     height: 35vh;

    //     min-width: 400px;
    //     max-width: 450px;
    //     width: 40vw;

    //     margin: 0.5em 4em 0.5em 0em;
    // }
}

@media (max-width: $lg-screen-size) {
    // .main {
    //     margin-left: 0px;
    //     text-align: center;
    // }

    // .slide-track {
    //     white-space: normal;
    // }

    // .portfolio-item {
    //     display: block;

    //     min-height: 150px;
    //     max-height: 600px;
    //     height: 60vh;

    //     min-width: 400px;
    //     max-width: 1200px;
    //     width: 80%;

    //     margin: 2em auto !important;
    // }
}

@media (max-width: $md-screen-size) {
    // .portfolio-item {
    //     min-height: 150px;
    //     max-height: 500px;
    //     height: 40vh;
    // }
}

@media (max-width: $sm-screen-size) {
    // .portfolio-item {
    //     min-height: 150px;
    //     max-height: 400px;
    //     height: 35vh;
    // }
}
