@import "utilities/variables";
@import "components/offer";
@import "components/clients";

body {
    // overflow-y: hidden !important;
}

//!portfolio
#portfolio {
    a {
        font-size: clamp(0.8rem, 2vw, 3rem);
    }
    .slide-track {
        width: 100%;

        overflow: hidden;
        white-space: nowrap;
        background: transparent;

        cursor: grab;
    }

    .portfolio-container {
        width: 100%;
    }

    .main-track {
        color: $font-color-secondary;
        background: transparent;
        padding: 0;
        overflow: hidden;
    }
}

.portfolio-item {
    display: inline-block;

    width: clamp(450px, 33.75vw, 1300px);
    height: auto;

    aspect-ratio: 10/7;

    transition: filter 0.25s ease 0.25s;

    overflow: hidden;

    &:hover {
        filter: brightness(110%) saturate(110%);
        .portfolio_image-item {
            transform: scale(1.175);
        }
    }

    .portfolio_image-item {
        width: 100%;
        height: 100%;

        object-fit: cover;

        transition: transform 0.5s ease 0s;
    }
}

.track-item {
    position: relative;

    width: clamp(450px, 33.75vw, 1300px);
    height: auto;
    .info-wrapper {
        position: absolute;
        top: 84%;
        left: 5%;

        z-index: 2;

        width: 80%;

        // overflow: hidden;
        .info {
            white-space: normal !important;
            position: relative;
            h3 {
                font-size: clamp(1.8rem, 4.5vw, 6.5rem);
            }
            p {
                font-size: clamp(0.8rem, 1.05vw, 4.25rem);
            }
            span {
                font-size: clamp(0.8rem, 1vw, 3rem);
            }
        }
    }
}

.link-activate-wrapper {
    &:hover {
        .portfolio-item {
            filter: brightness(110%) saturate(110%);
            .portfolio_image-item {
                transform: scale(1.175);
            }
        }
    }
}

//!aboutus
#aboutUs {
    .container {
        height: clamp(300px, 25vw, 750px);
    }
    p {
        font-size: clamp(0.8rem, 1.05vw, 2.5rem);
    }
}

#offer {
    ul {
        display: none;
    }

    .contact {
        display: none;
    }
}

#contact {
    height: clamp(300px, 30vw, 1080px);
}

//! Clients
#clients {
    display: block !important;

    h4 {
        font-size: clamp(0.75rem, 3vw, 0.9rem);
    }

    .client-logo {
        position: relative;
        display: inline-block;

        width: clamp(150px, 12vw, 200px);

        padding: 10px;
        margin: clamp(10px, 1vh, 25px) clamp(10px, 2.5vw, 50px);

        text-align: center;
        img {
            vertical-align: middle;
            aspect-ratio: attr(width) / attr(height);
        }
    }
}

@media (max-width: $md-screen-size) {
    //!portfolio
    .info-wrapper {
        top: 90% !important;
    }
    .portfolio-item {
        width: 100%;
    }

    .track-item {
        width: 100%;

        .info {
            h3 {
                font-size: clamp(1.8rem, 10vw, 4rem) !important;
            }
            p {
                font-size: clamp(0.65rem, 2vw, 4.25rem) !important;
            }
            span {
                font-size: clamp(0.65rem, 2vw, 3rem) !important;
            }
        }
    }
}
