.container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.section-header {
    font-size: clamp(1.3rem, 2vw, 1.9rem);
}

.fluid-margin {
    padding-left: clamp(1.5em, 7.5vw, 18em) !important;
}

.card {
    background-color: $body-bg-color-lighter;
    width: clamp(5em, 25vw, 35em);
    border-radius: 1em;
    padding: 1.5em 3.5em;
    box-shadow: 5px 10px #0e0e0ea9;
}

.card-header {
    font-size: clamp(1.1rem, 2vw, 1.5rem);
}

.text-highlight {
    color: $primary-color;
}

.border-primary {
    border-bottom: 1px solid $primary-color !important;
}

.mr-5 {
    margin-right: 40px;
}

.font-color-dark {
    color: $font-color-fourth;
}

.section-divider {
    display: block;

    width: 90%;

    float: none;

    margin-top: 250px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;

    border: 0.5px solid rgba(126, 126, 126, 0.25);
    overflow: hidden;
}

.underline {
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: $font-color-tertiary;

    transition: all 0.5s;
}

.underline:hover {
    color: $primary-color;
}

.underline:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -3px;
    content: "";
    display: block;
    height: 1px;
    left: 0%;
    position: absolute;
    background: $primary-color;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 100%;
}

.underline:hover:after {
    width: 90%;
    left: 0;
}

.headerline::before {
    display: block;

    content: "";

    width: 25px;

    border-top: 3px solid $primary-color;

    padding-top: 0.5rem;
}

.display-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-snap-start {
    scroll-snap-align: start;
}

.scroll-snap-end {
    scroll-snap-align: end;
}

.scroll-snap-center {
    scroll-snap-align: center;
}

.vh-50 {
    height: 50vh;
}

@media (max-width: $md-screen-size) {
    .section-divider {
        margin-top: 75px;
        margin-bottom: 50px;
    }
}

@media (max-width: $sm-screen-size) {
    .container-text-sm-center {
        text-align: center;
    }
}
