//courtain
.courtain {
    position: fixed;
    height: 100vh;
    z-index: 9998;
}

.top-side {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50vh;

    background-color: $body-bg-color-lighter !important;

    z-index: 999;
}

.bottom-side {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100vw;
    height: 50vh;

    background-color: $body-bg-color-lighter !important;

    z-index: 999;
}

.progress {
    position: relative;
    height: 2px;
    display: block;
    width: 100%;
    background-color: white;
    border-radius: 2px;
    background-clip: padding-box;
    /*margin: 0.5rem 0 1rem 0;*/
    overflow: hidden;
}
.progress .indeterminate {
    background-color: black;
}
.progress .indeterminate:before {
    content: "";
    position: absolute;
    background-color: #2c67b1;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate 2.1s
        cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395)
        infinite;
}
.progress .indeterminate:after {
    content: "";
    position: absolute;
    background-color: #2c67b1;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate-short 2.1s
        cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1)
        infinite;
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s;
}

.courtain-wrapper {
    position: relative;

    opacity: 0;

    display: none;
    justify-content: center;
    place-items: center;

    height: 100vh;
    width: 100vw;

    z-index: 9999;

    .container {
        display: grid;
        place-items: center;

        height: 100vh;
    }

    #start-button {
        cursor: pointer;
        font-size: clamp(2rem, 5vw, 4rem) !important;
        font-weight: 600;
        color: $primary-color !important;
        transition: all 0.5s;

        &:hover {
            color: $primary-color-dark !important;
            transform: scale(0.9);
        }
    }

    .privacy-policy-start {
        position: absolute;
        top: 85vh;

        font-size: clamp(0.6rem, 2vw, 0.9rem);
        text-align: center;

        span {
            color: #3a3a3a !important;
            text-align: center;
        }

        a {
            color: #3a3a3a !important;
            text-align: center;
        }
    }
}

.info-accept {
    color: $font-color-fourth !important;
}

@-webkit-keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}
@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}
@-webkit-keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}
@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}
