@import "../variables";

//!landing page
#landing-page {
    height: 100vh;
    display: grid;

    place-items: center;
}

.landing-page-content {
    margin-bottom: clamp(5rem, 20vh, 9rem);
}

//!contact
#Contact {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"] + label {
        display: inline-block;
        position: relative;
        width: 20em;

        background: rgba(255, 255, 255, 0.05);

        margin-bottom: 25px;
        margin-left: 5px;
        margin-right: 5px;

        padding: 2.5em 0em;
        border: 1px solid rgba(114, 114, 114, 0.5);
        border-radius: 100px;

        color: #444;
        font-size: 14px;
        text-align: center;

        cursor: pointer;

        transition: 0.5s all;
    }

    input[type="checkbox"] + label:hover {
        background: rgba(36, 36, 36, 0.5);
        color: $font-color-primary;
        transform: scale(0.9);
    }

    input[type="checkbox"]:checked + label {
        background: $font-color-secondary;
        color: $body-bg;
    }

    .label-name {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition-property: left;
        transition-duration: 1s;
        -webkit-transition-property: left;
        -webkit-transition-duration: 1s;
    }

    input[type="checkbox"]:checked + label div.checkmark {
        display: block;
        fill: #f0f0f0;
    }
}

.control-group-error {
    display: none;
    opacity: 0;
}

.control-group-error-text {
    margin-top: 0px !important;
    margin-bottom: clamp(25px, 5vh, 100px);
    color: $font-color-tertiary;
    font-size: clamp(0.9rem, 1.9vw, 2rem);
}

.contact-form {
    .form-field {
        position: relative;
        margin: 32px 0;
    }
    .input-text {
        display: block;
        width: 100%;

        border: 0.5px solid rgba(216, 216, 216, 0.5);
        border-radius: 50px;

        padding: 1.75em 2.5em;

        background: rgba(255, 255, 255, 0.05);

        color: $font-color-primary;

        transition: 0.5s all;

        &:focus {
            outline: none;
            border: solid 1px $primary-color;
            transition: all 0.25s;
        }

        &:focus,
        &.not-empty {
            + .label {
                transform: translateY(-55px);
                font-size: $font-size-base * 1.2;
                color: $font-color-tertiary;
                font-weight: 500;
                transition: all 0.25s;
            }
        }
    }
    .label {
        position: absolute;
        left: 30px;
        top: 19px;

        font-size: $font-size-base;
        line-height: 26px;
        font-weight: 300;
        color: $font-color-fourth;

        cursor: text;
        transition: all 0.25s ease-in-out;
    }

    textarea {
        max-width: 100%;
        border-radius: 35px !important;
        font-family: $font-family-primary;
    }
}

.email-sent {
    margin-top: clamp(100px, 25vh, 350px);
    margin-bottom: clamp(100px, 40vh, 500px);
}

@keyframes scale {
    0% {
        transform: none;
    }
    50% {
        transform: scale3d(1.2, 1.2, 1);
    }
    100% {
        transform: none;
    }
}

.submit-container {
    padding-top: clamp(2em, 5vh, 5em);
}

@media (max-width: $lg-screen-size) {
}

@media (max-width: $md-screen-size) {
    #Contact {
        input[type="checkbox"] + label {
            width: 20em;

            font-size: 12px;
        }
    }

    .contact-form {
        .form-field {
            position: relative;
            margin: 18px 0;
        }
        .input-text {
            border-radius: 30px;

            padding: 1.25em 1.75em;

            &:focus,
            &.not-empty {
                + .label {
                    transform: translate(-5px, -35px);
                    font-size: $font-size-base * 0.85;
                }
            }
        }
        .label {
            top: 18px;

            font-size: $font-size-base * 0.8;
            line-height: 16px;
        }

        textarea {
            max-width: 100%;
            border-radius: 35px !important;
        }
    }
}

@media (max-width: $sm-screen-size) {
    #Contact {
        input[type="checkbox"] + label {
            width: 20em;

            font-size: 10px;
        }
    }
}

@media (max-width: 1024px) {
    body {
        overflow-y: scroll !important;
    }
}
