@import "utilities/variables";

.cursor {
    position: absolute;

    background-color: $primary-color;
    border-radius: 100%;

    width: 6px;
    height: 6px;

    user-select: none;
    pointer-events: none;

    transform: translate(-3px, -3px);

    transition: 0.3s transform, 0.2s opacity;

    z-index: 10000;

    &.active-action {
        opacity: 0;
    }

    &.active-expand {
        opacity: 0.5;
        transform: scale(0);
    }

    &.active-shrink {
        opacity: 1;
    }
}

.cursor-follower {
    position: absolute;

    background-color: rgba(255, 255, 255, 0);

    width: 60px;
    height: 60px;

    border-radius: 100%;
    border: 1px rgba(201, 201, 201, 0.205) solid;

    transform: translate(-19px, -19px);

    user-select: none;
    pointer-events: none;

    transition: 0.3s transform, 0.2s background-color;

    z-index: 10000;

    &.active-action {
        background-color: $primary-color;
        border: none;
        transform: scale(1.85) translate(-8px, -8px);
    }

    &.active-expand {
        background-color: rgba(255, 255, 255, 0.2);
        border: none;
        transform: scale(1.85) translate(-8px, -8px);
    }

    &.active-shrink {
        background-color: rgba(255, 255, 255, 0.35);
        border: none;
        transform: scale(0.2) translate(-90px, -90px);
    }

    [cursor-label] {
        text-align: center;
        text-transform: uppercase;

        font-weight: 600;
        font-size: 22px;

        opacity: 0;

        pointer-events: none;

        transform: translate(0px, -2px);

        z-index: 999999 !important;

        &.active-action {
            opacity: 1;

            // transform: translate(4px, -7px);
        }

        &.active-expand {
            opacity: 0;
        }

        &.active-shrink {
            opacity: 0;
        }
    }
}

[cursor-action] {
    cursor: none !important;
}

// [cursor-expand] {
//     cursor: pointer !important;
// }

// [cursor-action] {
//     cursor: none !important;
// }

// [cursor-action] {
//     cursor: none !important;
// }
