//!footer
#footer {
    position: relative;
    .footer-section-divider {
        margin-top: 30px;
        margin-bottom: 65px;
    }
    h3 {
        font-size: clamp(1.35rem, 7vw, 10rem);
    }

    .mail-link {
        font-size: clamp(1.1rem, 4vw, 8.5rem);
    }

    .phone-number {
        font-size: clamp(1.1rem, 2.1vw, 6rem);
    }

    .footer-social-icons {
        img {
            height: clamp(25px, 2.5vw, 60px);
            width: clamp(25px, 2.5vw, 60px);
        }
    }

    .footer-portfolio {
        overflow: hidden;
        position: absolute;
        top: 37.5%;
        .footer-portfolio-wrapper {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            width: clamp(150px, 37.5vw, 1300px);
            height: auto;

            aspect-ratio: 12/7;

            transition: filter 0.5s;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    ul {
        font-size: clamp(1.15rem, 1.5vw, 2rem);

        list-style-type: none;

        margin-left: -40px;
    }
}
