//!footer
#footer {
    h3 {
        font-size: clamp(1.65rem, 2.25vw, 3.2rem);
    }

    h4 {
        font-weight: 500;
        font-size: clamp(1.3rem, 1.5vw, 3rem);
        line-height: 48px;
        color: $font-color-tertiary;

        span {
            position: relative;
            padding-bottom: 5px;
        }

        span::after {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            border-bottom: 1px solid $primary-color;
            content: "";
        }
    }
}

.btn-primary {
    span {
        font-size: clamp(0.7rem, 1.5vw, 1rem);
    }

    svg {
        path {
            margin-left: 10px;
            fill: $primary-color;
        }
    }
}

.btn-primary:hover {
    svg {
        path {
            fill: $body-bg;
        }
    }
}

.mail-href {
    font-weight: 500;
    font-size: clamp(1.5rem, 2.25vw, 3rem);
    line-height: 48px;
    color: $font-color-tertiary;
}

.underfooter-container {
    margin-top: 125px;
    // margin-bottom: 25px;
    font-size: clamp(0.8rem, 0.7vw, 0.9rem);
}

.privacy-container {
    width: fit-content;
}

.copyright-container {
    margin-top: -20px;
    text-align: center;
}

.privacy-policy {
    color: $font-color-tertiary;

    padding-bottom: 0.15rem;
}

.copyright {
    color: $font-color-fourth;
}

.footer-icon-div {
    display: inline-block;

    width: clamp(2rem, 3.5vw, 3rem) !important;
    height: clamp(2rem, 3.5vw, 3rem) !important;

    margin-right: clamp(0.7rem, 2vw, 1rem) !important;
    margin-top: clamp(0.5rem, 2vh, 1.5rem) !important;

    cursor: pointer;

    .footer-icon {
        fill: $font-color-secondary;
        transition: 0.5s all;
    }
}

.footer-icon-div:hover {
    .footer-icon {
        fill: $primary-color !important;
        color: $primary-color !important;
    }
}

.scroll-blocker {
    opacity: 0;
    cursor: default;
}

@media (max-width: $md-screen-size) {
    #footer {
        h4 {
            font-size: clamp(0.9rem, 6vw, 1.25rem);
            line-height: 1rem;
        }
        h3 {
            font-size: clamp(1rem, 7vw, 1.3rem);
        }
    }
    .copyright-container {
        text-align: end;
    }
    .underfooter-container {
        margin-top: 50px;
    }
    .privacy-policy {
        margin-bottom: 20px;
    }
    .mail-href {
        font-size: clamp(1rem, 2.5vw, 1.5rem);
        line-height: 28px;
    }

    .second-col-footer {
        margin-top: 35px;
    }
}

@media (max-width: $sm-screen-size) {
    #footer {
        text-align: center;
    }
    .privacy-container {
        text-align: center;
        width: 100%;
    }
    .privacy-policy {
        text-align: center;
    }
    .privacy-policy::after {
        border: none !important;
    }
    .copyright-container {
        text-align: center;
        margin-top: 10px;
    }

    .second-col-footer {
        margin-top: 20px;
    }
}
