.menu-btn {
    position: fixed;
    right: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    color: $font-color-secondary;
    transition: all 0.3s ease-in-out;
    z-index: 99;
}

.menu-btn:hover {
    transform: scale(1.1);
}

.menu-btn span,
.menu-btn:before,
.menu-btn:after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 0%;
    width: 70%;
    border-bottom: 2px solid $font-color-secondary;
    transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu-btn:before {
    transform: translateY(-8px);
}

.menu-btn:after {
    transform: translateY(8px);
}

.close {
    z-index: 99;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: background 0.6s;
}

/* closing animation */
#active:checked + .menu-btn span {
    transform: scaleX(0);
}

#active:checked + .menu-btn:before {
    transform: rotate(45deg);
    border-color: $font-color-secondary;
}

#active:checked + .menu-btn:after {
    transform: rotate(-45deg);
    border-color: $font-color-secondary;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    opacity: 0;
    background: rgba(255, 255, 255, 0);
}

.wrapper ul {
    list-style: none;
}

.wrapper ul li a {
    text-decoration: none;
    font-size: clamp(1.75rem, 3vw, 2.5rem);
    font-weight: 500;
    color: $font-color-primary;
    transition: 0.5s;
    line-height: clamp(3rem, 4vh, 5rem);
}

.wrapper ul li a:hover {
    color: $primary-color;
    transition: 0.5s;
}

.img-nav {
    position: fixed;
    top: 15px;
    left: 30px;
    width: clamp(6em, 5vw, 10em);
}

.nav-number {
    font-size: 0.8rem;
    margin-right: 15px;
    margin-left: -30px;
}

.nav-main-content {
    margin-top: 25vh;
}

.nav-info {
    .p1 {
        font-size: clamp(0.75rem, 2vw, 1rem);
        color: $font-color-tertiary;
    }

    .p2 {
        font-size: clamp(1rem, 2.5vw, 1.25rem);
    }
}

.nav-icons-container {
    // margin-top: clamp(50px, 15vh, 400px);
    height: clamp(150px, 30vh, 550px);
    width: clamp(75%, 50vw, 100%);
}

.nav-icon-div {
    display: inline-block !important;

    width: clamp(2.25rem, 3.5vw, 2.5rem) !important;
    height: clamp(2.25rem, 3.5vw, 2.5rem) !important;

    margin-right: clamp(0.7rem, 2vw, 1rem) !important;
    margin-top: clamp(0.5rem, 2vh, 1.5rem) !important;

    cursor: pointer;

    .nav-icon {
        fill: $font-color-secondary;
        transition: 0.5s all;
    }
}

.nav-icon-div:hover {
    .nav-icon {
        fill: $primary-color !important;
        color: $primary-color !important;
    }
}

#navbar {
    input[type="checkbox"] {
        display: none;
    }
}

#nav-content-outlined {
    opacity: 0;
}

#nav-ul {
    transform: scale(0.5);
}

#nav-info {
    transform: scale(0.5);
}

#nav-bg {
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    opacity: 0;
    background: rgba(10, 10, 10, 0.8);
}

@media (max-width: $lg-screen-size) {
    .nav-icons-container {
        // margin-top: clamp(50px, 15vh, 400px);
        height: clamp(150px, 10vh, 200px);
    }
}

@media (max-width: $md-screen-size) {
    .nav-icons-container {
        // margin-top: clamp(50px, 15vh, 400px);
        height: clamp(75px, 10vh, 175px);
    }
}
