@import "../variables";
@import "../typed";

//!landing page
#landing-page {
    height: 100vh;
    display: grid;

    place-items: center;
}

.landing-page-content {
    margin-bottom: clamp(5rem, 20vh, 9rem);
}

#offer {
    margin-bottom: 150px;
    h2 {
        font-size: clamp(1.75rem, 2.25vw, 2rem);
        font-weight: 300 !important;

        color: $font-color-primary;
    }

    h3 {
        font-size: clamp(2rem, 3.5vw, 3rem);
        font-weight: 500;

        color: $font-color-secondary;

        margin-bottom: 15px;
    }

    p {
        font-size: clamp(0.85rem, 1.3vw, 1.2rem);
        font-weight: 400;

        color: $font-color-tertiary;

        margin-bottom: 35px;
        margin-top: 0;
    }

    ul {
        li {
            font-size: clamp(0.85rem, 1.3vw, 1.2rem);
            font-weight: 400;

            color: $font-color-fourth;
            margin-bottom: 10px;
        }
    }
    .contact-us {
        margin-top: clamp(1.75em, 3vh, 2.5em);
        font-size: clamp(1rem, 3vw, 2.5rem);
        color: $font-color-primary;
        &:hover {
            color: $primary-color;
        }
    }
}

.col-content1 {
    width: 70%;

    margin-right: -75px;
}

.col-content2 {
    width: 70%;

    margin-left: -75px;
}

#works {
    .navigation-wrapper {
        ul {
            margin: 0;
            list-style: none;
            position: relative;

            .li-separate {
                height: 30px;
            }
        }

        a {
            font-family: $font-family-tertiary;
            font-size: clamp(1.5rem, 7vw, 3.5rem);
            line-height: clamp(1.5rem, 7vw, 3.5rem);
            font-weight: 300;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.3);
        }

        span {
            position: relative;
            display: block;
        }
    }

    .navigation-item {
        display: block;
        user-select: none;
        height: fit-content;
        width: fit-content;

        &:hover {
            mix-blend-mode: difference;
        }
    }

    .navigation-item span:before {
        width: 0;
        color: $font-color-primary;
        overflow: hidden;
        position: absolute;
        content: attr(data-text);
        transition: all 0.5s cubic-bezier(0.84, 0, 0.08, 0.99);
    }

    .navigation-item span:hover:before {
        width: 100%;
    }

    .project-preview-wrapper {
        width: 100%;
        height: 100vh;
        position: fixed;
        display: flex;
        justify-content: center;
    }

    img {
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        width: 400px;
        left: 50%;
        top: 50%;
        opacity: 0;
        // transform: translateY(-50%) translateX(20%);
        transition: opacity 0.6s;
    }

    .visible {
        opacity: 1;
        // transform: translateY(-50%) translateX(0%);
    }
}

.project-preview {
    position: absolute;
    width: clamp(400px, 50vh, 650px);
    height: clamp(300px, 25vh, 450px);
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
    background: no-repeat 50% 50%;
    background-size: cover;
    opacity: 0;
    transition: opacity 0.6s;
    pointer-events: none;
    mix-blend-mode: difference;
}

@media (max-width: $lg-screen-size) {
    .col-content1 {
        width: 90%;

        margin-right: 0px;
        margin-bottom: 50px;
    }

    .col-content2 {
        width: 90%;

        margin-left: 0px;
    }

    .project-preview-wrapper {
        display: none;
    }
}

@media (max-width: 1024px) {
    body {
        overflow-y: scroll !important;
    }
}
