@import "../variables";
@import "../typed";

#offer {
    margin-bottom: 150px;
    h2 {
        font-size: clamp(2rem, 3.5vw, 3rem);
        font-weight: 600;

        color: $font-color-primary;
    }

    h3 {
        font-size: clamp(1.75rem, 2.25vw, 2rem);
        font-weight: 500;

        color: $font-color-secondary;

        margin-bottom: 15px;
    }

    p {
        font-size: clamp(0.85rem, 1.3vw, 1.2rem);
        font-weight: 400;

        color: $font-color-tertiary;

        margin-bottom: 35px;
        margin-top: 0;
    }

    ul {
        li {
            font-size: clamp(0.85rem, 1.3vw, 1.2rem);
            font-weight: 400;

            color: $font-color-fourth;
            margin-bottom: 10px;
        }
    }
    .contact-us {
        margin-top: clamp(1.75em, 3vh, 2.5em);
        font-size: clamp(1rem, 3vw, 2.5rem);
        color: $font-color-primary;
    }
}

.col-content1 {
    width: 70%;

    margin-right: -75px;
}

.col-content2 {
    width: 70%;

    margin-left: -75px;
}

#works {
    ul {
        li {
            font-size: 1.5rem;
            text-transform: uppercase;
            color: $font-color-tertiary;

            margin-bottom: 1rem;

            list-style-type: none;

            cursor: pointer;

            transition: 0.5s all;
        }

        li:hover {
            color: $primary-color !important;
        }
    }
}

@media (max-width: $lg-screen-size) {
    .col-content1 {
        width: 90%;

        margin-right: 0px;
        margin-bottom: 50px;
    }

    .col-content2 {
        width: 90%;

        margin-left: 0px;
    }
}
