@import "../variables";
@import "~fullpage.js/dist/fullpage";

body {
    overflow-y: hidden !important;
}

.landing-page-content {
    margin-bottom: clamp(5rem, 20vh, 9rem);
}

.landing-page-content {
    position: relative;
}

.btn-landing1 {
    margin-right: 25px;
}

.landing-page-content:before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    height: 115%;
    border-left: 1px solid $font-color-fourth;
    transform: scaleY(1);
}

//!aboutus
.aboutus {
    h4 {
        width: clamp(300px, 45vw, 100%);
    }
    h3 {
        width: clamp(300px, 45vw, 100%);
    }
    p {
        color: $font-color-tertiary;
        width: clamp(250px, 30vw, 50%);
    }
}

//!portfolio
.portfolio-container {
    width: 100%;
}

.main {
    margin-left: 100px;
    color: $font-color-secondary;
    background: transparent;
    padding: 0;
    overflow: hidden;
}

.slide-track {
    width: 100%;

    overflow: hidden;
    white-space: nowrap;
    background: transparent;

    cursor: grab;
}

.portfolio-item {
    display: inline-block;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 250px;
    max-height: 500px;
    height: 45vh;

    min-width: 500px;
    max-width: 550px;
    width: 40vw;

    border-radius: 10px;

    margin: 0.5em 8em 0.5em 0em;

    transition: filter 0.5s;
}

.portfolio-item:hover {
    filter: brightness(130%) saturate(130%);
}

.portfolio-item1 {
    background-image: url("/images/portfolio/portfolio_castle.png");
}

.portfolio-item2 {
    background-image: url("/images/portfolio/portfolio_komb.png");
}

.portfolio-item3 {
    background-image: url("/images/portfolio/portfolio_watch.png");
}

.portfolio-item4 {
    background-image: url("/images/portfolio/portfolio_danfit_m.png");
}

.portfolio-item5 {
    background-image: url("/images/portfolio/portfolio_zielonewidoki_m.png");
}

//!client logos
#clients {
    display: block !important;
    h4 {
        font-size: clamp(0.75rem, 3vw, 0.9rem);
    }
}

.client-logo {
    position: relative;
    display: inline-block;

    width: clamp(100px, 12vw, 150px);

    padding: 10px;
    margin: clamp(10px, 1vh, 25px) clamp(10px, 2.5vw, 50px);

    text-align: center;
}

.client-logo img {
    vertical-align: middle;
}

//!footer

.privacy-container {
    position: absolute;
    bottom: 15px;
}

.copyright-container {
    position: absolute;
    bottom: 15px;
    left: 0%;
    right: 0%;

    margin-top: -20px;
}

.section-divider {
    margin-top: 25px !important;
}

@media (max-width: $xxl-screen-size) {
    .portfolio-item {
        min-height: 250px;
        max-height: 500px;
        height: 40vh;

        min-width: 400px;
        max-width: 500px;
        width: 40vw;

        margin: 0.5em 6em 0.5em 0em;
    }
}

@media (max-width: $xl-screen-size) {
    .portfolio-item {
        min-height: 250px;
        max-height: 400px;
        height: 35vh;

        min-width: 400px;
        max-width: 450px;
        width: 40vw;

        margin: 0.5em 4em 0.5em 0em;
    }
}

@media (max-width: $lg-screen-size) {
    #portfolio {
        height: unset !important;
    }
    .main {
        margin-left: 0px;
        text-align: center;
    }

    .slide-track {
        white-space: normal;
    }
    .portfolio-item {
        display: block;

        min-height: 150px;
        max-height: 600px;
        height: 60vh;

        min-width: 400px;
        max-width: 1200px;
        width: 80%;

        margin: 2em auto !important;
    }
}

@media (max-width: $md-screen-size) {
    #clients {
        display: none;
    }

    .portfolio-item {
        min-height: 150px;
        max-height: 500px;
        height: 40vh;
    }

    .btn-landing1 {
        margin-top: 25px;
        margin-bottom: 25px;
        margin-right: 0px;
    }
}

@media (max-width: $sm-screen-size) {
    .landing-page-content {
        margin-top: 125px;
    }

    .portfolio-item {
        min-height: 150px;
        max-height: 400px;
        height: 35vh;
    }

    .portfolio-btn-container {
        text-align: center;
    }
}
