@import "../variables";

//!landing page
#landing-page {
    height: 100vh;
    display: grid;

    place-items: center;
}

.landing-page-content {
    margin-bottom: clamp(5rem, 20vh, 9rem);
}

.card {
    display: flex;
    justify-content: center;
    place-items: center;

    width: clamp(325px, 40vw, 550px);
    height: clamp(250px, 35vh, 400px);

    background: $body-bg-color-lighter;

    padding: 2em 3em;
    margin-bottom: 100px;

    border-radius: 15px;
}

.card-body {
    width: 100%;

    h3 {
        font-weight: 600;
    }

    h4 {
        font-weight: 500;
        color: $font-color-tertiary;
    }

    p {
        font-weight: 400;
        color: $font-color-fourth;
    }
}

@media (max-width: $xl-screen-size) {
    .card {
        height: clamp(250px, 40vh, 400px);
    }
}

@media (max-width: $md-screen-size) {
    .card {
        height: clamp(250px, 32.5vh, 400px);
    }
}

@media (max-width: $sm-screen-size) {
    .card {
        height: clamp(300px, 35vh, 500px);
    }
}

@media (max-width: 1024px) {
    body {
        overflow-y: scroll !important;
    }
}
