#landing-page {
  height: 100vh;
  display: grid;
  place-items: center;
}

.landing-page-content {
  margin-bottom: clamp(5rem, 20vh, 9rem);
}

.control-group-error {
  display: none;
  opacity: 0;
}

.control-group-error-text {
  margin-top: 0px !important;
  margin-bottom: clamp(25px, 5vh, 100px);
  color: #bebebe !important;
  font-size: clamp(0.9rem, 1.9vw, 2rem);
}

.email-sent {
  margin-top: clamp(100px, 25vh, 350px);
  margin-bottom: clamp(100px, 40vh, 500px);
}

@-webkit-keyframes scale {
  0% {
    transform: none;
  }
  50% {
    transform: scale3d(1.2, 1.2, 1);
  }
  100% {
    transform: none;
  }
}

@keyframes scale {
  0% {
    transform: none;
  }
  50% {
    transform: scale3d(1.2, 1.2, 1);
  }
  100% {
    transform: none;
  }
}
.submit-container {
  padding-top: clamp(2em, 5vh, 5em);
}

@media (max-width: 768px) {
  #Contact input[type=checkbox] + label {
    width: 20em;
    font-size: 12px;
  }

  .contact-form .form-field {
    position: relative;
    margin: 18px 0;
  }
  .contact-form .input-text {
    border-radius: 30px;
    padding: 1.25em 1.75em;
  }
  .contact-form .input-text:focus + .label, .contact-form .input-text.not-empty + .label {
    transform: translate(-5px, -35px);
    font-size: 0.85rem;
  }
  .contact-form .label {
    top: 18px;
    font-size: 0.8rem;
    line-height: 16px;
  }
  .contact-form textarea {
    max-width: 100%;
    border-radius: 35px !important;
  }
}
#Contact {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
#Contact input[type=checkbox] {
  display: none;
}
#Contact input[type=checkbox] + label {
  display: inline-block;
  position: relative;
  width: 20em;
  background: #ffffff0d !important;
  margin-bottom: 25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 2.5em 0em;
  border: 1px solid #72727280 !important;
  border-radius: 100px;
  color: #444 !important;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s all;
}
#Contact input[type=checkbox] + label:hover {
  background: #24242480 !important;
  color: #ffffff !important;
  transform: scale(0.9);
}
#Contact input[type=checkbox]:checked + label {
  background: #ececec !important;
  color: #111111 !important;
}
#Contact .label-name {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition-property: left;
  transition-duration: 1s;
  -webkit-transition-property: left;
  -webkit-transition-duration: 1s;
}
#Contact input[type=checkbox]:checked + label div.checkmark {
  display: block;
  fill: #f0f0f0 !important;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact-form .contact_main_row {
  margin-bottom: -35px;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  border: 0.5px solid #d8d8d880 !important;
  border-radius: 50px;
  padding: 2.1em 2.5em;
  background-color: #ffffff0d !important;
  color: #ffffff !important;
  transition: 0.5s all;
}
.contact-form .input-text:focus {
  outline: none;
  border: solid 1px #00ff80 !important;
  transition: all 0.25s;
}
.contact-form .input-text:focus + .label, .contact-form .input-text.not-empty + .label {
  transform: translateY(-55px);
  font-size: 1.2rem;
  color: #bebebe !important;
  font-weight: 500;
  transition: all 0.25s;
}
.contact-form .label {
  position: absolute;
  left: 30px;
  top: 19px;
  font-size: 1rem !important;
  line-height: 26px;
  font-weight: 300;
  color: #707070 !important;
  cursor: text;
  transition: all 0.25s ease-in-out;
}
.contact-form textarea {
  max-width: 100%;
  border-radius: 35px !important;
  font-family: "Poppins" !important;
}

@media (max-width: 576px) {
  #Contact input[type=checkbox] + label {
    width: 20em;
    font-size: 10px;
  }
}
@media (max-width: 1024px) {
  body {
    overflow-y: scroll !important;
  }
}
