.typed-cursor {
  color: #00ff80;
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#typed {
  color: #00ff80;
}

#landing-page {
  height: 100vh;
  display: grid;
  place-items: center;
}

.landing-page-content {
  margin-bottom: clamp(5rem, 20vh, 9rem);
}

#offer {
  margin-bottom: 150px;
}
#offer h2 {
  font-size: clamp(1.75rem, 2.25vw, 2rem);
  font-weight: 300 !important;
  color: #ffffff;
}
#offer h3 {
  font-size: clamp(2rem, 3.5vw, 3rem);
  font-weight: 500;
  color: #ececec;
  margin-bottom: 15px;
}
#offer p {
  font-size: clamp(0.85rem, 1.3vw, 1.2rem);
  font-weight: 400;
  color: #bebebe;
  margin-bottom: 35px;
  margin-top: 0;
}
#offer ul li {
  font-size: clamp(0.85rem, 1.3vw, 1.2rem);
  font-weight: 400;
  color: #707070;
  margin-bottom: 10px;
}
#offer .contact-us {
  margin-top: clamp(1.75em, 3vh, 2.5em);
  font-size: clamp(1rem, 3vw, 2.5rem);
  color: #ffffff;
}
#offer .contact-us:hover {
  color: #00ff80;
}

.col-content1 {
  width: 70%;
  margin-right: -75px;
}

.col-content2 {
  width: 70%;
  margin-left: -75px;
}

#works .navigation-wrapper ul {
  margin: 0;
  list-style: none;
  position: relative;
}
#works .navigation-wrapper ul .li-separate {
  margin-bottom: 30px;
}
#works .navigation-wrapper a {
  font-family: "Scheherazade New", serif;
  font-size: clamp(1.5rem, 7vw, 3.5rem);
  line-height: clamp(1.5rem, 7vw, 3.5rem);
  font-weight: 300;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
}
#works .navigation-wrapper span {
  position: relative;
  display: block;
}
#works .navigation-item {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#works .navigation-item:hover {
  mix-blend-mode: difference;
}
#works .navigation-item span:before {
  width: 0;
  color: #ffffff;
  overflow: hidden;
  position: absolute;
  content: attr(data-text);
  transition: all 0.5s cubic-bezier(0.84, 0, 0.08, 0.99);
}
#works .navigation-item span:hover:before {
  width: 100%;
}
#works .project-preview-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
}
#works .visible {
  opacity: 1;
}

.project-preview {
  position: absolute;
  width: clamp(400px, 50vh, 650px);
  height: clamp(300px, 25vh, 450px);
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
  background: no-repeat 50% 50%;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.6s;
  pointer-events: none;
  mix-blend-mode: difference;
}

@media (max-width: 992px) {
  .col-content1 {
    width: 90%;
    margin-right: 0px;
    margin-bottom: 50px;
  }

  .col-content2 {
    width: 90%;
    margin-left: 0px;
  }

  .project-preview-wrapper {
    display: none;
  }
}
@media (max-width: 1024px) {
  body {
    overflow-y: scroll !important;
  }

  .project-preview {
    width: clamp(150px, 40vh, 300px);
    height: clamp(100px, 25vh, 200px);
  }
}
@media (max-width: 768px) {
  body {
    overflow-y: scroll !important;
  }

  .project-preview {
    display: none;
  }
}
