.typed-cursor {
  color: #00ff80;
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#typed {
  color: #00ff80;
}

#offer {
  margin-bottom: 150px;
}
#offer h2 {
  font-size: clamp(2rem, 3.5vw, 3rem);
  font-weight: 600;
  color: #ffffff;
}
#offer h3 {
  font-size: clamp(1.75rem, 2.25vw, 2rem);
  font-weight: 500;
  color: #ececec;
  margin-bottom: 15px;
}
#offer p {
  font-size: clamp(0.85rem, 1.3vw, 1.2rem);
  font-weight: 400;
  color: #bebebe;
  margin-bottom: 35px;
  margin-top: 0;
}
#offer ul li {
  font-size: clamp(0.85rem, 1.3vw, 1.2rem);
  font-weight: 400;
  color: #707070;
  margin-bottom: 10px;
}
#offer .contact-us {
  margin-top: clamp(1.75em, 3vh, 2.5em);
  font-size: clamp(1rem, 3vw, 2.5rem);
  color: #ffffff;
}

.col-content1 {
  width: 70%;
  margin-right: -75px;
}

.col-content2 {
  width: 70%;
  margin-left: -75px;
}

#works ul li {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #bebebe;
  margin-bottom: 1rem;
  list-style-type: none;
  cursor: pointer;
  transition: 0.5s all;
}
#works ul li:hover {
  color: #00ff80 !important;
}

@media (max-width: 992px) {
  .col-content1 {
    width: 90%;
    margin-right: 0px;
    margin-bottom: 50px;
  }

  .col-content2 {
    width: 90%;
    margin-left: 0px;
  }
}
