#landing-page {
    height: 100vh;
    display: grid;
    place-items: center;
}

.landing-page-content {
    margin-bottom: clamp(5rem, 20vh, 9rem);
}

@media (max-width: 1024px) {
    body {
        overflow-y: scroll !important;
    }
}
