.landing-page-content {
  position: relative;
}

.btn-landing1 {
  margin-right: 25px;
}

.landing-page-content:before {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  height: 115%;
  border-left: 1px solid #ffffff;
  transform: scaleY(1);
}

#clients {
  height: 1vh;
}

.client-logo {
  position: relative;
  display: inline-block;
  width: clamp(100px, 12vw, 150px);
  padding: 10px;
  margin-right: clamp(2.5em, 4.25vw, 5em);
  text-align: center;
}

.client-logo img {
  vertical-align: middle;
}

.aboutus h4 {
  width: clamp(300px, 45vw, 100%);
}
.aboutus h3 {
  width: clamp(300px, 45vw, 100%);
}
.aboutus p {
  color: #bebebe;
  width: clamp(250px, 30vw, 50%);
}

#remembered {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 100px;
}

#portfolio {
  padding-top: 100px;
  height: 100vh;
}

.portfolio-container {
  width: 100%;
}

.main {
  margin-left: 100px;
  color: #ececec;
  background: transparent;
  padding: 0;
  overflow: hidden;
}

.slide-track {
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  cursor: -webkit-grab;
  cursor: grab;
  background: transparent;
}

.portfolio-item {
  display: inline-block;
  background: #161616;
  min-height: 250px;
  max-height: 500px;
  height: 45vh;
  min-width: 500px;
  max-width: 550px;
  width: 40vw;
  border-radius: 10px;
  margin: 0.5em 8em 0.5em 0em;
}

#letsTalk-section {
  width: 100%;
  display: grid;
  place-items: center;
}

@media (max-width: 1400px) {
  .portfolio-item {
    min-height: 250px;
    max-height: 500px;
    height: 40vh;
    min-width: 400px;
    max-width: 500px;
    width: 40vw;
    margin: 0.5em 6em 0.5em 0em;
  }
}
@media (max-width: 1200px) {
  .portfolio-item {
    min-height: 250px;
    max-height: 400px;
    height: 35vh;
    min-width: 400px;
    max-width: 450px;
    width: 40vw;
    margin: 0.5em 4em 0.5em 0em;
  }
}
@media (max-width: 992px) {
  #portfolio {
    height: unset !important;
  }

  .main {
    margin-left: 0px;
    text-align: center;
  }

  .slide-track {
    white-space: normal;
  }

  .portfolio-item {
    display: block;
    min-height: 150px;
    max-height: 600px;
    height: 60vh;
    min-width: 400px;
    max-width: 1200px;
    width: 80%;
    margin: 2em auto !important;
  }
}
@media (max-width: 768px) {
  #web-content {
    -ms-scroll-snap-type: none;
        scroll-snap-type: none;
    overflow-y: scroll;
    height: 100vh !important;
  }

  #clients {
    display: none;
  }

  #portfolio {
    padding-top: 75px;
  }

  .portfolio-item {
    min-height: 150px;
    max-height: 500px;
    height: 40vh;
  }

  .btn-landing1 {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 0px;
  }
}
@media (max-width: 576px) {
  .landing-page-content {
    margin-top: 125px;
  }

  #portfolio {
    padding-top: 40px;
  }

  .portfolio-item {
    min-height: 150px;
    max-height: 400px;
    height: 35vh;
  }

  .portfolio-btn-container {
    text-align: center;
  }
}
