#offer img {
  width: clamp(300px, 30vw, 1080px);
  height: auto;
}
#offer .offer-wrapper {
  position: relative;
}
#offer .offer-wrapper h3 {
  font-weight: 300 !important;
}
#offer .info-header {
  position: absolute;
  top: 91%;
  margin-left: clamp(10px, 2vw, 25px);
}
#offer .info {
  margin-top: 50px;
  margin-left: clamp(10px, 2vw, 25px);
}
#offer p {
  font-size: clamp(0.8rem, 1.05vw, 2.75rem);
}
#offer li {
  font-size: clamp(0.8rem, 1vw, 2.75rem);
  margin: 0.4em 0 0.4em -1em;
}
#offer a {
  font-size: clamp(1rem, 1.2vw, 3rem);
}
#offer .contact {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 768px) {
  #offer .offer-wrapper img {
    width: clamp(150px, 100%, 1080px) !important;
  }
  #offer .offer-wrapper .info-header {
    top: 96%;
  }
  #offer .offer-wrapper h3 {
    font-size: clamp(1.3rem, 5vw, 4rem);
  }
}
#clients .client-logo {
  width: clamp(150px, 12vw, 200px) !important;
}

@media (max-width: 768px) {
  #clients h2 {
    font-size: clamp(0.75rem, 3vw, 1.1rem);
  }
  #clients .client-logo {
    width: clamp(100px, 8vw, 150px) !important;
  }
}
#portfolio a {
  font-size: clamp(0.8rem, 2vw, 3rem);
}
#portfolio .slide-track {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: transparent;
  cursor: -webkit-grab;
  cursor: grab;
}
#portfolio .portfolio-container {
  width: 100%;
}
#portfolio .main-track {
  color: #ececec;
  background: transparent;
  padding: 0;
  overflow: hidden;
}

.portfolio-item {
  display: inline-block;
  width: clamp(550px, 33.75vw, 1300px);
  height: auto;
  aspect-ratio: 10/7;
  margin: 0.5em 8em 0.5em 0em;
  transition: filter 0.25s ease 0.25s;
  overflow: hidden;
}
.portfolio-item:hover {
  filter: brightness(110%) saturate(110%);
}
.portfolio-item:hover .portfolio_image-item {
  transform: scale(1.175);
}
.portfolio-item .portfolio_image-item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s ease 0s;
}

.track-item {
  position: relative;
  width: clamp(550px, 33.75vw, 1300px);
  height: auto;
}
.track-item .info-wrapper {
  position: absolute;
  top: 84%;
  left: 5%;
  z-index: 2;
  width: 80%;
}
.track-item .info-wrapper .info {
  white-space: normal !important;
  position: relative;
}
.track-item .info-wrapper .info h3 {
  font-size: clamp(1.8rem, 4.5vw, 6.5rem);
}
.track-item .info-wrapper .info p {
  font-size: clamp(0.8rem, 1.05vw, 4.25rem);
}
.track-item .info-wrapper .info span {
  font-size: clamp(0.8rem, 1vw, 3rem);
}

.link-activate-wrapper:hover .portfolio-item {
  filter: brightness(110%) saturate(110%);
}
.link-activate-wrapper:hover .portfolio-item .portfolio_image-item {
  transform: scale(1.175);
}

#aboutUs .container {
  height: clamp(300px, 25vw, 750px);
}
#aboutUs p {
  font-size: clamp(0.8rem, 1.05vw, 2.5rem);
}

#offer ul {
  display: none;
}
#offer .contact {
  display: none;
}

#contact {
  height: clamp(300px, 30vw, 1080px);
}

#clients {
  display: block !important;
}
#clients h4 {
  font-size: clamp(0.75rem, 3vw, 0.9rem);
}
#clients .client-logo {
  position: relative;
  display: inline-block;
  width: clamp(150px, 12vw, 200px);
  padding: 10px;
  margin: clamp(10px, 1vh, 25px) clamp(10px, 2.5vw, 50px);
  text-align: center;
}
#clients .client-logo img {
  vertical-align: middle;
  aspect-ratio: attr(width)/attr(height);
}

@media (max-width: 768px) {
  .info-wrapper {
    top: 86%;
  }
  .portfolio-item {
    width: clamp(150px, 90vw, 1300px);
  }
  .track-item {
    width: clamp(150px, 90vw, 1300px);
  }
  .track-item .info h3 {
    font-size: clamp(1.8rem, 10vw, 4rem) !important;
  }
  .track-item .info p {
    font-size: clamp(0.65rem, 2vw, 4.25rem) !important;
  }
  .track-item .info span {
    font-size: clamp(0.65rem, 2vw, 3rem) !important;
  }
}
