#web-content {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh !important;
}

.landing-page-content {
  position: relative;
}

.btn-landing1 {
  margin-right: 25px;
}

.landing-page-content:before {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  height: 115%;
  border-left: 1px solid #ffffff;
  transform: scaleY(1);
}

#clients {
  height: 1vh;
}

.client-logo {
  position: relative;
  display: inline-block;
  width: clamp(100px, 12vw, 150px);
  padding: 10px;
  margin-right: clamp(2.5em, 4.25vw, 5em);
  text-align: center;
}

.client-logo img {
  vertical-align: middle;
}

.aboutus h4 {
  width: clamp(300px, 45vw, 100%);
}
.aboutus h3 {
  width: clamp(300px, 45vw, 100%);
}
.aboutus p {
  color: #bebebe;
  width: clamp(250px, 30vw, 50%);
}

#remembered {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 100px;
}

.portfolio-container {
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow-x: hidden;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "main main main";
}

.grid-item {
  color: #ececec;
  background: #161616;
}

.main {
  color: #ececec;
  background-color: #111111;
  grid-area: main;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.slide-track {
  position: relative;
  width: 50%;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  cursor: -webkit-grab;
  cursor: grab;
  background: #111111;
}

.slide-track.active {
  background: #111111;
}

.portfolio-item {
  display: inline-block;
  background: #161616;
  min-height: 250px;
  max-height: 550px;
  height: 65vh;
  min-width: 600px;
  max-width: 800px;
  width: 45vw;
  border-radius: 10px;
  margin: 0.5em 20em 0.5em 0em;
}

#letsTalk-section {
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 150px;
}

@media (max-width: 1400px) {
  .portfolio-item {
    min-height: 250px;
    max-height: 500px;
    height: 50vh;
    min-width: 500px;
    max-width: 700px;
    width: 45vw;
    margin: 0.5em 17em 0.5em 0em;
  }
}
@media (max-width: 1200px) {
  .portfolio-item {
    min-height: 250px;
    max-height: 500px;
    height: 45vh;
    min-width: 450px;
    max-width: 650px;
    width: 45vw;
    margin: 0.5em 12em 0.5em 0em;
  }
}
@media (max-width: 992px) {
  .portfolio-item {
    min-height: 150px;
    max-height: 350px;
    height: 45vh;
    min-width: 250px;
    max-width: 600px;
    width: 55vw;
    margin: 0.5em 8em 0.5em 0em;
  }
}
@media (max-width: 768px) {
  #clients {
    display: none;
  }

  .btn-landing1 {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 0px;
  }

  .portfolio-item {
    min-height: 250px;
    max-height: 300px;
    height: 40vh;
    min-width: 250px;
    max-width: 550px;
    width: 55vw;
    margin: 0.5em 5em 0.5em 0em;
  }
}
@media (max-width: 576px) {
  .landing-page-content {
    margin-top: 125px;
  }

  .portfolio-item {
    min-height: 150px;
    max-height: 300px;
    height: 40vh;
    min-width: 250px;
    max-width: 500px;
    width: 60vw;
    margin: 0.5em 1em 0.5em 0em;
  }

  .portfolio-btn-container {
    text-align: center;
  }
}
