// Body
$body-bg: #0f0f0f;
$body-bg-color-lighter: #111111;
$body-bg-color-darker: #0c0c0c;

// Typography
$font-family-primary: "Poppins";
$font-family-secondary: "Source Sans Pro", sans-serif;
$font-family-tertiary: "Scheherazade New", serif;
$font-family-header: "Bebas Neue";
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$font-color-primary: #ffffff;
$font-color-secondary: #ececec;
$font-color-tertiary: #bebebe;
$font-color-fourth: #707070;

$primary-color: #00ff80;
$secondary-color: #2c8cb3;

$primary-color-dark: #1fd18d;
$primary-color-light: #6bff97;

$xxl-screen-size: 1400px;
$xl-screen-size: 1200px;
$lg-screen-size: 992px;
$md-screen-size: 768px;
$sm-screen-size: 576px;
$xs-screen-size: 400px;
