.font-family-primary {
    font-family: $font-family-primary !important;
}

.font-family-secondary {
    font-family: $font-family-secondary !important;
}

.font-family-header {
    font-family: $font-family-header !important;
    font-weight: 300 !important;
}

.font-color-primary {
    color: $font-color-primary !important;
}

.font-color-secondary {
    color: $font-color-secondary !important;
}

.font-color-dark {
    color: $font-color-tertiary !important;
}

.font-color-darker {
    color: $font-color-fourth !important;
}

.text-highlight {
    color: $primary-color !important;
}

.text-alert {
    color: #912d2d;
}

.fw-medium {
    font-weight: 500;
}

.kerning-none {
    font-kerning: none;
}
